---
import HeroImage from '~/components/HeroImage.astro'
import Layout from './Layout.astro'

type Props = {
  post: {
    title: string
    date: Date
    thumbnail: string
  }
}

const { post } = Astro.props
const formatedDate = post.date.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
})
---

<Layout title={post.title}>
  <h1 class='text-4xl font-bold text-blue-300'>{post.title}</h1>
  <p class='text-zinc-400'>
    <time datetime={post.date.toISOString()}>
      {formatedDate}
    </time>
  </p>
  <section class='w-full aspect-video overflow-hidden object-cover rounded-lg mt-12 max-h-96'>
    <HeroImage url={post.thumbnail} alt={post.title} width={1280} />
  </section>
  <section
    class='prose prose-zinc prose-invert prose-sm md:prose-base lg:prose-lg max-w-screen-lg mx-auto mt-12'
  >
    <slot />
  </section>
</Layout>
